<div class="centered">
  <h1>Hey hey hey!</h1>
  <img src="/images/rubyftw.png" alt="RubyFTW Logo"/> 
  <h1>NEEDS YOU!</h1> 

  <div class="info">
    <p>
    That's right friend, fellow enthusiast, ruby noobie, good looking passer by, we're calling upon you to join us in spreading the goodness of ruby to anyone interested, but especially you.
    </p>

    <ul>
      <li><a href="http://groups.google.com/group/rubyftw">Join the group</a> and join in the discussions.</li>
      <li>Help us find a good solid venue for regular meetings <span class="small">(training room? whiteboard? projector?)</span></li>
      <li>Volunteer to speak on a subject</li>
      <li>Announce impromptu meets at a near by coffee shop or bar</li>
      <li>Pitch a subject you would like to learn about</li>
      <li>Follow announcements on <%= twitter_link %> and help spread the word about the group</li>
      <li>Fork this site on <a href="http://github.com/rubyftw">github</a> and help us shine things up</li>
    </ul>

    We had been holding the regular meetings every 2nd Tuesday of the month starting around 6pm and ending around 8pm, making the next one would be in <%= days_till_next_meeting %> days on <%= next_meeting %> but check the list for details as this and the location are a bit up in the air at the moment.

  </div>
</div>
