<%= fork_me %>
<ul id="social_links">
  <li><%= group_link %Q(<img src="/images/google.png" alt="Google Group">) %></li>
  <li><%= twitter_link %Q(<img src="/images/twitter.png" alt="Twitter">) %></li>
  <li><%= github_link %Q(<img src="/images/github.png" alt="GitHub">) %></li>
</ul>
<h1><img src="/images/rubyftw_sm.png" alt="RubyFTW: Ruby Enthusiasts of Fort Worth"/></h1>