// Colors
$ruby_red: #911
$light: #fcfcfc
$dark: #333

$margin: 2em

=round-corners($amount)
  border-radius: $amount
  -moz-border-radius: $amount
  -webkit-border-radius: $amount

html
  margin: 0
  padding: 0

body
  background: $light url(/images/bg.png)
  color: $dark
  font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Times New Roman", serif
  font-size: 14px
  line-height: 1.75

.heading
  font-family: "Arvo", Rockwell, serif

h1
  @extend .heading
  font-size: 4em

a
  color: $ruby_red
  img
    outline: 0
    border: 0

#wrapper
  width: 800px
  margin: 0px auto
  padding: 0

  #header
    #social_links
      float: right

      ul
        list-style: none
      li
        display: inline-block
        margin-left: $margin
        &:hover
          opacity: 0.9
        &:active
          position: relative
          top: 2px


  #promo
    margin-bottom: $margin
    h1
      margin: 0

  #footer
    margin: $margin 0


.info
  +round-corners($margin/2)
  color: $light
  background: $dark url(/images/bg.png)
  padding: $margin/2 $margin

  a
    color: $ruby_red + #400
    &:hover
      color: $ruby_red + #600

  ul
    list-style: square

    li
      margin-left: $margin

span.small
  font-size: 70%

.centered
  text-align: center

