<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
    <title><%= title %></title> 
    <link href='/css/rubyftw.css' rel='stylesheet' type='text/css' /> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1260172-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head> 
  <body> 
    <div id="wrapper">
      <div id="header"> 
        <%= github_link %>
        <h1>
          <img src="/images/rubyftw_sm.png" alt="RubyFTW Logo"/>  
          Ruby Enthusiasts of Fort Worth
        </h1>
      </div> 
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body> 
</html> 
